.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }

form {
  display: flex;
  justify-content: center;
}
mat-form-field {
  display: flex;
}
button {
  position: relative;
  transform: translateY(25%);
}
#form-container {
  display: flex;
  justify-content: center;
  align-items: start;
}
  